<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Cards Only</title>

      <!-- STYLESHEETS -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pangolin|Yanone+Kaffeesatz" rel="stylesheet">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="styles/style.css">

      <!-- APPLICATION SCRIPTS -->
      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/scripts/cardsApp.js"></script>
      
  </head>
  <body>
  <div class="container">
		<div class="header">
      <a href="/"><h1 class="main-header yanone">MF Flash Cards</h1></a>
    </div>

    <div id="delete-dialog" class="dialog yanone" title="Delete Flash Card">
      <p>The <span id="delete-number"></span> flash card(s) you selected will be permanently deleted and cannot be recovered.</p> 
      <p><span class="ui-icon ui-icon-alert"></span>Are you sure?</p>
    </div>

		<div class="subjects-container">
      <select id="subjects-dropdown">
        <option value="All">All</option>
      </select>
      <div id="start-quiz" class="user-button"><i class="material-icons">local_library</i>Quiz</div>
      <div id="card-list-print" class="user-button"><i class="material-icons">print</i>Print</div>
      <div id="delete-card" class="user-button"><i class="material-icons">delete</i>Delete</div>
			<table id="show-cards-list">
			</table>
		</div>

     <div id="quiz-modal" class="modal">
        <div id="quiz-modal-content" class="modal-content">
          <div id="close-quiz" class="user-button">Close</div>
          <div>#<span id="card-count"></span> of <span id="deck-count"></span> flash cards</div>
          <div id="quiz-body">
            <div id="left-arrow" class="quiz-arrow"><i class="material-icons">keyboard_arrow_left</i></div>
            <div id="quiz-card">
              hello
            </div>
            <div id="right-arrow" class="quiz-arrow"><i class="material-icons">keyboard_arrow_right</i></div>
          </div>
          <div id="flip-card" class="user-button">FLIP</div>
          <div id="random-card" class="user-button">Random</div>
        </div>
      </div>
  	
  </div>
  
  </body>
</html>
