body {
	margin: 0;
	background: #7988CD;
	font-family: 'Pangolin', cursive;
}

input, textarea {
	outline: none;
}

.yanone {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
	text-align: center;
	width: 100%;
}

#options {
	width: 80%;
	margin: 20px auto 0 auto;
	background: #293F4F;
	padding: 5px;
	border-radius: 5px;
}
.option {
	display: inline-block;
	background: #293F4F;
	width: 48%;
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.active {
	background: #EB91B4;
}

#main-header {
	font-size: 60px;
	margin: 0;
	line-height: 100px;
	color: white;
	text-shadow: 0 0 10px black;
}

.header {
	background: url('http://i.imgur.com/lWb9a8l.jpg');
	height: 100px;
	width: 80%;
	margin: 15px auto 0 auto;
	border-radius: 10px;
	border: 2px solid #293F4F;
}

#fill-ins-instructions-container, #terms-instructions-container {
	width: 600px;
	padding: 20px 40px;
	margin: 15px auto 20px auto;
	font-size: 15px;
	background: white;
	border-radius: 10px;
	border: 2px solid #293F4F;
	background: #FBF8EB;
}

#fill-ins-instructions-container h2, #terms-instructions-container h2 {
	margin-top: 0;
}

#fill-ins-instructions, #terms-instructions {
	text-align: left;
	margin: 0 auto;
	list-style-position:inside;
}

#terms-container {
	display: none;
}

.pad-left {
	padding-left: 30px;
}

#card-example {
	text-align: left;
}

#card-example ul {
	list-style: none;
}

#notes-input {
	width: 600px;
	height: 200px;
	font-size: 12px;
	border: 2px solid #293F4F;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
}

#notes-input:focus {
	outline: none;
	box-shadow: 0 0 15px #EB91B4;
}

.definition-input {
	width: 400px;
	height: 100px;
	font-size: 12px;
	border: 2px solid #293F4F;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	vertical-align: middle;
}

.text-input {
	width: 400px;
	padding: 10px;
	border: 2px solid #293F4F;
	box-sizing: border-box;
	border-radius: 10px;
	display: block;
	margin: 0 auto 5px auto;
	text-align: center;
}

#terms-container {
	width: 80%;
	margin: 0 auto;
	min-width: 825px;
}

.terms-row {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
	margin: 15px auto;
}

.button-row {
	width: 400px;
	margin: 15px auto 0 auto;
}

#hide-button {
	display: none;
	background: #EB91B4;
	color: white;
	text-shadow: 0 0 8px black;
}

#show-button {
	background: #EB91B4;	
	color: white;
	text-shadow: 0 0 8px black;
}

#user-buttons {
	margin-bottom: 20px;
}

.user-button {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	width: 45%;
	cursor: pointer;
	margin: 0 auto;
}

#submit-fill-ins-button, #submit-terms-button {
	background: lightgreen;
}

.print-button {
	background: white;
	color: grey;
	cursor: not-allowed;
}

#fill-ins, #terms {
	margin: 0 auto;
	border-spacing: 10px;
}

td {
	vertical-align: middle;
}

.card {
	width: 300px;
	height: 180px;
	box-sizing: border-box;
	text-align: center;
	display: table-cell;
	margin: 10px;
	padding: 25px;
	border: 2px solid black;
	background: white;
	font-family: "Times New Roman", Times, serif;
}

.prompt {
	border-color: black
	vertical-align: middle;
}

.answer {
	border-color: green;
	box-shadow: 0 0 10px lightgreen;
}

@media print {
	@page { margin: 0; }
  .header, #fill-ins-instructions-container, 	#terms-container, #options, #notes-input, #main-header, #user-buttons {
    display: none !important;
  }

	table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }

	.container {
		width: 100%;
		margin: 0;
	}

	#fill-ins, #terms {
		width: 100%;
		border-spacing: 0;
		font-size: 18px;
	}
  .card {
		box-sizing: border-box;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		padding: 30px;
		width: 50%;
		height: 210px;
		border:none;
	}
	.prompt, .answer {
		border: 1px solid black;
	}
}

