body {
	margin: 0;
	background: #7988CD;
	font-family: 'Pangolin', cursive;
}

a {
	text-decoration: none;
}

input, textarea {
	outline: none;
}

.material-icons {
	vertical-align: top;
	margin-right: 5px;
	font-size: 20px;
}

.danger-button {
	background: #EB91B4 !important;
	color: black !important;
}

.ui-button:focus {
	outline: none;
}

.subjects {
	width: 100%;
	margin: 5px auto;
	color: white;
}

.subject-div {
	width: 48%;
	display: inline-block;
}

.yanone {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
	text-align: center;
	width: 100%;
}

.half-button {
	width: 120px !important;
}

#options {
	width: 80%;
	margin: 20px auto 0 auto;
	background: #293F4F;
	padding: 5px 0;
	border-radius: 8px;
}
.option {
	display: inline-block;
	background: #293F4F;
	width: 31%;
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#to-cards {
	width: 31%;
	margin-top: 5px;
	text-decoration: none;
	background: lightgreen;
	text-shadow: 0 0 10px black;
}

.active {
	background: #EB91B4;
}

.main-header {
	font-size: 60px;
	margin: 0;
	line-height: 100px;
	color: white;
	text-shadow: 0 0 10px black;
}

.header {
	background: url('http://i.imgur.com/lWb9a8l.jpg');
	height: 100px;
	width: 80%;
	margin: 15px auto 0 auto;
	border-radius: 10px;
	border: 2px solid #293F4F;
}

#fill-ins-instructions-container, #terms-instructions-container, #custom-instructions-container {
	width: 600px;
	padding: 20px 40px;
	margin: 15px auto 20px auto;
	font-size: 15px;
	background: white;
	border-radius: 10px;
	border: 2px solid #293F4F;
	background: #FBF8EB;
}

#fill-ins-instructions-container h2, #terms-instructions-container h2, #custom-instructions-container h2 {
	margin-top: 0;
}

#fill-ins-instructions, #terms-instructions, #custom-instructions {
	text-align: left;
	margin: 0 auto;
	list-style-position:inside;
}

#terms-container, #custom-container {
	display: none;
}

.pad-left {
	padding-left: 30px;
}

#card-example {
	text-align: left;
}

#card-example ul {
	list-style: none;
}

#notes-input, #custom-input {
	width: 600px;
	height: 200px;
	font-size: 12px;
	border: 2px solid #293F4F;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
}

#notes-input:focus {
	outline: none;
	box-shadow: 0 0 15px #EB91B4;
}

.definition-input {
	width: 400px;
	height: 100px;
	font-size: 12px;
	border: 2px solid #293F4F;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 10px;
	vertical-align: middle;
}

.text-input {
	width: 400px;
	padding: 10px;
	border: 2px solid #293F4F;
	box-sizing: border-box;
	border-radius: 10px;
	display: block;
	margin: 0 auto 5px auto;
	text-align: center;
}

#terms-container {
	width: 80%;
	margin: 0 auto;
	min-width: 825px;
}

.terms-row {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
	margin: 15px auto;
}

.button-row {
	width: 400px;
	margin: 15px auto 0 auto;
}

#hide-button {
	display: none;
	background: #EB91B4;
	color: white;
	text-shadow: 0 0 8px black;
}

#show-button {
	background: #EB91B4;	
	color: white;
	text-shadow: 0 0 8px black;
}

#user-buttons {
	margin-bottom: 20px;
	width: 75%;
}

.user-button {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	width: 265px;
	cursor: pointer;
	margin: 0 auto;
}

#preview-fill-ins-button, #preview-terms-button, #preview-custom-button {
	background: lightgreen;
	display: block;
	width: 250px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-bottom: 5px;
}


#save-fill-ins-modal, #save-terms-modal, #save-custom-modal {
	background: lightgreen;
	display: none;
	width: 30%;
}

#save-fill-ins-button, #save-terms-button, #save-custom-button {
	background: lightgreen;
	display: none;
}

.print-button {
	background: #EB91B4;
	color: black;
	cursor: pointer;
	width: 30%;
}

#fill-ins, #terms, #custom {
	margin: 0 auto;
	border-spacing: 10px;
}

td {
	vertical-align: middle;
}

.card {
	width: 300px;
	height: 180px;
	box-sizing: border-box;
	display: table-cell;
	margin: 10px;
	padding: 25px;
	border: 2px solid black;
	background: white;
	font-family: "Times New Roman", Times, serif;
	white-space: pre-wrap;
}

.options, .save-options {
	width: 150px;
	min-width: 150px;
	height: 180px;
	box-sizing: border-box;
	display: table-cell;
	margin: 10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: white;
	vertical-align: middle;
}

.options-button {
	margin: 10px 5px 10px 5px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.edit-subject-button, .save-subject-button {
	width: 25%;
	vertical-align: bottom;
	font-size: 22px;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 0;
}

.edit-prompt-button {
	background: #293F4F;
}

.edit-answer-button {
	background: #FBF8EB;
	color: black;
}

.update-prompt-button, .update-answer-button {
	background: lightgreen;
	color: white;
	border: 1px solid black;
	text-shadow: 0 0 5px black;
}

.cancel-prompt-button, .cancel-answer-button {
	border: 1px solid black;
	text-shadow: 0 0 5px black;
	background: #EB91B4;
}

.prompt {
	border-color: black
	vertical-align: middle;
	text-align: center;
}

.answer {
	border-color: green;
	box-shadow: 0 0 10px lightgreen;
	text-align: left;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0 20px 50px 20px;
  border: 1px solid #888;
  width: 500px;
  min-width: 200px;
}

#preview-modal-content {
	margin: 5% auto;
	padding: 20px;
}

#close-preview {
	margin-top: 15px;
	width: 30%;
}

.subject-input {
	display: block;
	border-radius: 5px;
	width: 250px;
	padding: 5px;
	margin: 20px auto;
	font-size: 18px;
}

.footer {
	margin: 20px auto 0 auto;
	background: #293F4F;
	color: white;
	padding: 5px;
	height: 50px;
	line-height: 50px;
	border-top: 2px solid #EB91B4;
}

/* CARDS PAGE */

.all-cards-button {
	padding: 5px 8px;
	border: 2px solid black;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	margin: 0 auto;
}

#start-quiz {
	background: lightgreen;
}

#select-all {
	background: #293F4F;
	color: #FBF8EB;
}

#clear-all {
	background: #293F4F;
	color: #FBF8EB;
}

#edit-subject {
	background: #FBF8EB;
}

#card-list-print {
	background: #FBF8EB;
}

#delete-card {
	background: #EB91B4;
}

#subjects-dropdown {
	margin: 15px 20px 0 20px;
	width: 25%;
	height: 30px;
	font-size: 16px;
}

#random-card {
	background: #293F4F;
	color: #FBF8EB;
}

#quiz-modal-content {
	padding: 20px;
}

#quiz-card {
	display: inline-block;
	border: 2px solid black;
	background-color: #FBF8EB;
	min-height: 200px;
	width: 300px;
	margin: 20px 10px;
	padding: 20px;
	font-size: 22px;
	vertical-align: middle;
	white-space: pre-wrap;
}

#flip-card {
	background: lightgreen;
	margin-bottom: 10px;
	display: block;
}

#close-quiz {
	background-color: #EB91B4;
	margin-bottom: 10px;
}

#update-subject {
	background: lightgreen;
	margin-bottom: 10px;
}

.quiz-arrow {
	display: inline-block;
	cursor: pointer;
	height: 75px;
	color: #FBF8EB;
	background: #293F4F;
	vertical-align: middle;
	width: 45px;
	line-height: 75px;
	border-radius: 2px;
}

.quiz-arrow i {
	font-size: 40px;
	vertical-align: middle;
}

.card-subject {
	color: black;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 auto;
	cursor: default;
	font-size: 20px;
}

.subject-input {
	padding: 0 10px;
	cursor: text;
}

.checkbox-div {
	background: #293F4F;
	width: 50px;
}

.checkbox {
	width: 20px;
	height: 20px;
}

.edit-card {
	width: 80%;
	height: 130px;
}

.dialog {
	padding: 5px 30px;
}

.dialog p {
	font-size: 20px;
}

.ui-dialog-buttonpane {
	margin-top: 0 !important;
}

.ui-icon {
	margin: 10px;
}

#show-cards-list {
	margin: 20px auto;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

	#fill-ins-container, #fill-ins-instructions-container, 
	#terms-container, #terms-instructions-container,
	#custom-container, #custom-instructions-container, 
	#notes-input, #custom-input {
		width: 100% !important;
		padding: 15px 0;
		margin: 0 auto;
		min-width: 0;
		box-sizing: border-box;
	}

	.header {
		height: 60px;
	}

	.main-header {
		font-size: 50px;
		line-height: 60px
	}

  #options {
  	width: 100%;
  }	

  .terms-row {
  	display: block;
  	width: 90%;
  	margin: 20px auto;
  }

  .nav-container {
  	position: absolute;
  	top: 100px;
  	width: 100%;
  }

	#start-quiz i {
		vertical-align: middle;
	}

  .all-cards-button {
  	width: 23%;
  	height: 40px;
  	line-height: 40px;
  	font-size: 25px;
  	margin: 0 10px;
  }

  #edit-subject, #delete-card, #card-list-print {
  	display: none;
  }

	#subjects-dropdown {
		position: absolute;
		top: 60px;
		left: 47%;
		transform: translateX(-50%);
		width: 80%;
		height: 50px;
		font-size: 30px;
		padding-left: 30px;
		background: white;
	}

  #show-cards-list {
  	margin: 175px 10px 10px 10px;
  }

  #quiz-modal-content {
  	margin: 1% auto;
  	width: 85%;
  	padding: 10px 0;
  }

  #quiz-card {
  	margin: 0 10px 10px 10px;
		min-height: 180px;
		width: 60%;
  }
  #close-quiz {
  	position: absolute;
  	top: 5%;
  	right: 10%;
  	width: auto;
  }
  .options {
  	min-width: 110px;
  }

	.footer {
		margin-top: 0;
	}
}


@media print {
	@page { margin: 0; }

  .header, .footer, #fill-ins-instructions-container, #terms-container, #custom-container, 
  #options, #notes-input, #main-header, #user-buttons, .user-button, #subjects-dropdown, 
  .options, .checkbox-div, .nav-container {
    display: none !important;
  }

	table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }

	.container {
		width: 100%;
		margin: 0;
	}

	#preview-modal {
		overflow: visible;
		position: absolute;
	}

	#preview-modal-content {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	#fill-ins, #terms, #custom, #show-cards-list {
		width: 100%;
		border-spacing: 0;
		font-size: 18px;
	}

	#show-cards-list {
		margin-top: 0;
	}

  .card {
		box-sizing: border-box;
		display: table-cell;
		vertical-align: middle;
		padding: 30px;
		width: 50%;
		height: 210px;
		border:none;
	}
	.prompt, .answer {
		border: 1px solid black;
	}
}

